[Unit]
Description=Apache Kafka
Requires=network.target
After=network.target

[Service]
Type=simple
SuccessExitStatus=1
WorkingDirectory={{ deployment_base_path }}/{{ application_name }}_{{ kafka_version }}
Environment="KAFKA_OPTS=-Djava.security.auth.login.config=/home/mobiquity///kafka_2.13-3.0.0/config/kafka_server_jaas.conf"
ExecStart={{ deployment_base_path }}/{{ application_name }}_{{ kafka_version }}/bin/kafka-server-start.sh {{ deployment_base_path }}/{{ application_name }}_{{ kafka_version }}/config/server.properties
ExecStop={{ deployment_base_path }}/{{ application_name }}_{{ kafka_version }}/bin/kafka-server-stop.sh
Environment="KAFKA_HEAP_OPTS={{ kafka_heap_size }} {{ kafka_heap_size }}"
Environment="KAFKA_JVM_PERFORMANCE_OPTS=-XX:MetaspaceSize=96m -XX:+UseG1GC -XX:MaxGCPauseMillis=20 -XX:InitiatingHeapOccupancyPercent=35 -XX:G1HeapRegionSize=16M -XX:MinMetaspaceFreeRatio=50 -XX:MaxMetaspaceFreeRatio=80"
User={{ application_user }}
Group={{ application_user }}

[Install]
WantedBy=multi-user.target
